.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
    background-color: rgba(52, 115, 131, 0.2);
    border-radius: 10px;
}

body {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    min-height: 100vh;
}


.maincontent {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;

}

.blocgauche {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    text-align: justify;
}

.imagedemoi {
    border-radius: 50%;
    margin-top: 40px;
}

.identite {
    text-align: center;
    color: #ff896c;
    font-size: 3em;
}


.soustitre {
    text-align: center;
    font-size: 22px;
    color: #ff896c;
}


.presentation {
    justify-content: center;
    margin-right: 80px;
    margin-left: 50px;
    text-align: justify;
    font-size: 20px;
}

.competences {
    justify-content: center;
    font-size: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    text-align: justify;
    width: 80%;
}

.listecompetences {
    text-align: center;
    font-size: 17px;
}


.cartenantes {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


.titreprojet {
    text-align: center;
    color: #ff896c;
    font-size: 2em;
}


.texteprojet {
    font-size: 20px;
}


.workshop {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
}


.voyages {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
}


.podcast {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
}


.titreworkshop {
    text-align: center;
    color: #ff896c;
    font-size: 2em;
}


.imgworkshop {
    display: block;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}


.texteworkshop {
    display: block;
    width: 70%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
    text-align: justify;
}


.titrevoyage {
    text-align: center;
    color: #ff896c;
    font-size: 2em;
}


.istanbul {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
}


.budapest {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    flex-direction: row-reverse;
}


.munich {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
}


.nomville {
    text-align: center;
    color: #ff896c;
    font-size: 20px;
    margin-top: 40px;
}


.istanbulphoto {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.budapestphoto {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.munichphoto {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.istanbultexte {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}


.budapesttexte {
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}


.munichtexte {
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}


.titrepodcast {
    text-align: center;
    color: #ff896c;
    font-size: 2em;
}

.contenupodcast {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.podcasttexte {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    text-align: justify;
    font-size: 26px;
    width: 60%;
}


.popof {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}


.spotifylink {
    margin-left: auto;
    margin-right: auto;
    display: block;
}


footer {
    text-align: center;
    width: 100%;
    display: block;
    margin-top: 50px;
    background-color: rgba(52, 115, 131, 0.45);
    border-radius: 12px;
}


.footerhaut {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    border-radius: 12px;

}


.footermid {
    align-items: center;
    text-align: center;
}


.footerbas {
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 768px) {
    .istanbul, .budapest, .munich, .contenupodcast, .maincontent {
        flex-direction: column;
    }
}