.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 8%;
    background-color: rgba(52, 115, 131, 0.2);
    border-radius: 10px;
}


body {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}


.formulaire {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5%;
    background-color: rgba(52, 115, 131, 0.45);
    border-radius: 14px;
}


footer {
    background-color: rgba(52, 115, 131, 0.45);
    text-align: center;
    width: 99%;
    bottom: 0;
    border-radius: 12px;
}


.footerhaut {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    color: white;
}


.footermid {
    align-items: center;
    text-align: center;
    color: white;
}


.footerbas {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}


@media (max-width: 768px) {
    .formulaire {
        flex-direction: column;
        margin-top: 10%;
        text-align: center;
    }
}